/* line 3, app/assets/stylesheets/moves.scss */
.index-title h3 {
  font-size: 2rem;
}

/* line 7, app/assets/stylesheets/moves.scss */
.move-maker {
  height: 100%;
}

/* line 9, app/assets/stylesheets/moves.scss */
.move-maker .move-list {
  border: 1px solid black;
}

/* line 14, app/assets/stylesheets/moves.scss */
.move-maker .roulette-area {
  background-color: black;
  padding-bottom: 50px;
}

/* line 19, app/assets/stylesheets/moves.scss */
.move-maker .roulette-area .name-title {
  height: 100%;
  width: 100%;
  margin: 50px auto;
}

/* line 29, app/assets/stylesheets/moves.scss */
.move-maker .roulette-area .name-title h1 {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  color: white;
  font-size: 4rem;
  border: 2px solid blue;
}

/* line 38, app/assets/stylesheets/moves.scss */
.move-maker .roulette-area .name-title .neon {
  color: blue;
  text-shadow: 0 0 35px blue, 0 0 15px blue;
  box-shadow: 5px 5px 20px;
  padding: 50px;
}

/* line 47, app/assets/stylesheets/moves.scss */
.move-maker .roulette-area .roulette {
  display: inline-block;
  background-color: white;
  border: 1px solid white;
  font-size: 2.5rem;
  width: 30%;
  margin: 40px 0;
}

/* line 57, app/assets/stylesheets/moves.scss */
.move-maker .roulette-area .battle-stage {
  height: 350px;
  background-image: url("/assets/stage.jpg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

/* line 66, app/assets/stylesheets/moves.scss */
.move-maker .roulette-area .yusya {
  height: 60px;
  width: 8%;
  margin-top: 120px;
}

/* line 73, app/assets/stylesheets/moves.scss */
.move-maker .roulette-area .btn {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  color: white;
  border: 2px solid white;
  font-size: 20px;
}

@media (max-width: 600px) {
  /* line 89, app/assets/stylesheets/moves.scss */
  .index-title h3 {
    font-size: 1rem;
  }
  /* line 93, app/assets/stylesheets/moves.scss */
  .move-maker {
    height: 100%;
  }
  /* line 95, app/assets/stylesheets/moves.scss */
  .move-maker h3 {
    font-size: 1rem;
  }
  /* line 98, app/assets/stylesheets/moves.scss */
  .move-maker .move-list h4 {
    font-size: 0.7rem;
  }
  /* line 103, app/assets/stylesheets/moves.scss */
  .move-maker .roulette-area .name-title {
    margin: 20px auto;
  }
  /* line 108, app/assets/stylesheets/moves.scss */
  .move-maker .roulette-area .name-title h1 {
    width: 80%;
    margin-top: 40px;
    padding: 10px;
    font-size: 1.4rem;
  }
  /* line 115, app/assets/stylesheets/moves.scss */
  .move-maker .roulette-area .name-title .neon {
    padding: 15px;
  }
  /* line 121, app/assets/stylesheets/moves.scss */
  .move-maker .roulette-area .battle-stage {
    height: 200px;
    background-size: 100%;
  }
  /* line 126, app/assets/stylesheets/moves.scss */
  .move-maker .roulette-area .yusya {
    margin-top: 70px;
    width: 10%;
  }
  /* line 131, app/assets/stylesheets/moves.scss */
  .move-maker .roulette-area .btn {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    border: 2px solid white;
    font-size: 0.7rem;
  }
  /* line 139, app/assets/stylesheets/moves.scss */
  .move-maker .roulette-area .roulette {
    font-size: 1rem;
    width: 40%;
    margin: 20px 0;
  }
}
