/* line 3, app/assets/stylesheets/questions.scss */
.question-wrap h1 {
  margin-top: 100px;
  margin-bottom: 50px;
}

/* line 9, app/assets/stylesheets/questions.scss */
.question-wrap .form-control {
  font-size: 1rem;
}

/* line 12, app/assets/stylesheets/questions.scss */
.question-wrap .form-control.form-comment {
  height: 150px;
}

/* line 18, app/assets/stylesheets/questions.scss */
.question-wrap .delete-btn {
  width: 100%;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #157AF6;
  color: #157AF6;
  text-align: center;
}

/* line 29, app/assets/stylesheets/questions.scss */
.question-wrap .comment-content {
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  /* line 41, app/assets/stylesheets/questions.scss */
  .question-wrap .card-body {
    padding-top: 0px;
  }
  /* line 45, app/assets/stylesheets/questions.scss */
  .question-wrap h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 1.5rem;
  }
  /* line 52, app/assets/stylesheets/questions.scss */
  .question-wrap .comment-btn {
    height: 25px;
    font-size: 0.7rem;
    padding: 3px;
  }
  /* line 59, app/assets/stylesheets/questions.scss */
  .question-wrap .form-control {
    font-size: 0.7rem;
  }
  /* line 62, app/assets/stylesheets/questions.scss */
  .question-wrap .form-control.form-comment {
    height: 70px;
  }
  /* line 68, app/assets/stylesheets/questions.scss */
  .question-wrap .comment-content {
    font-size: 0.7rem;
  }
  /* line 73, app/assets/stylesheets/questions.scss */
  .question-wrap .delete-btn {
    font-size: 0.5rem;
  }
}
