/* line 6, app/assets/stylesheets/users.scss */
.user-post .nav-item {
  color: grey;
  background-color: white;
}

/* line 12, app/assets/stylesheets/users.scss */
.user-post .nav-item:hover {
  color: #39A2F2;
}

/* line 17, app/assets/stylesheets/users.scss */
.user-post .nav-tabs .nav-link.active, .user-post .nav-tabs .show > .nav-link {
  color: #39A2F2;
  border-bottom: 2px solid #39A2F2;
}

@media (max-width: 600px) {
  /* line 29, app/assets/stylesheets/users.scss */
  .account-home h4 {
    font-size: 1rem;
  }
  /* line 36, app/assets/stylesheets/users.scss */
  .user-table h4 {
    font-size: 1rem;
  }
  /* line 40, app/assets/stylesheets/users.scss */
  .user-table h6 {
    font-size: 0.8rem;
  }
  /* line 46, app/assets/stylesheets/users.scss */
  .user-link {
    font-size: 0.8rem;
  }
}
