<%# ログインページ %>
<div class="container">

    <%# フラッシュ　投稿追加 %>
    <% if flash[:notice] %>
        <div class="alert alert-success m-0" role="alert">
        <h3><%= flash[:notice] %></h3>
        </div>
    <% end %>

    <div class="account-home">
        <h3 class="mt-5 mb-3">アカウントをご利用の方へ</h3>
        <div class="row">
            <div class="col-md-12 my-3">
                <h4>
                    アカウントを登録すると以下の機能が使えます<br><br>
                    ・レッスン情報や施設を登録することができる<br>
                    ・自分だけのmovemakerを作ることができる<br>
                    ・アカウントを利用しているもの同士でつながることができる。<br>
                </h4>
            </div>
            <div class="col-md-12">
                <%= link_to('新規登録はこちら', "/users/signup") %>
            </div>
            <div class="col-md-12">
                <%= link_to('ログインはこちら', "/users/login") %>
            </div>
        </div>
    </div>
</div>
