<%# ログインページ %>
<div class="container">

    <%# フラッシュ　投稿追加 %>
    <% if flash[:notice] %>
        <div class="alert alert-success m-0" role="alert">
        <h3><%= flash[:notice] %></h3>
        </div>
    <% end %>

    <h3 class="my-5 text-center">ユーザー一覧</h3>
    <div class="row text-center">
        <div class="col-md-12 my-3">
            <% @users.each do |user| %>
                <h4><%= link_to("#{user.name}", "/users/#{user.id}", style: "color:black;") %></h4>
            <% end %>
        </div>
    </div>
</div>