<%# 料金プラン %>
<div class="container">
    <h1 class="text-center">アカウント有りと無しの違い</h1>
    <div class="about-account mt-5">
        <div class="row text-center">
        <div class="col-6 px-0" style="border: 2px solid grey;">
            <h1 style="border: 1px solid grey;">アカウント無し</h1>
            <p>・レッスンの検索</p>
            <p>・場所の検索</p>
            <p>・技の検索</p>
        </div>
        <div class="col-6" style="border: 2px solid grey;">
            <h1>アカウントあり</h1>
        </div>
        </div>
    </div>
</div>