<%# 料金プラン %>
<div class="container">

    <div class="account-wrap">
        <h1 class="text-center">アカウントとは？</h1>
        <p class="border-title"></p>
        <h3 class="mt-4 mt-sm-5">アカウントを利用することで、より多くの機能がご利用になれます。</h3>
        <h3>※アカウントがなくてもご利用できます。</h3>
    </div>

    <%# アカウントの有無 %>
    <div class="account-wrap">
    <h1 class="text-center">機能の違い</h1>
    <p class="border-title"></p>
    <div class="about-account card-deck mt-4 mt-sm-5 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header" style="background-color:#0E3D88;">
                <h4 class="my-1 my-sm-3" style="color:white;">アカウントなし</h4>
            </div>
            <div class="card-body">
                <h3 class="mb-3 mt-0 mt-sm-3">お試しで利用したい人<br>向け</h3>
                <ul class="list-group mb-4" style="color:#666;">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        レッスン情報の検索
                        <i class="far fa-circle fa-2x" style="color:red;"></i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        練習場所の検索
                        <i class="far fa-circle fa-2x" style="color:red;"></i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        技やムーブで遊ぶ（ルーレット）
                        <i class="far fa-circle fa-2x" style="color:red;"></i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        コメント機能
                        <i class="far fa-circle fa-2x" style="color:red;"></i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        質問スレッド
                        <i class="far fa-circle fa-2x" style="color:red;"></i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        レッスン、練習場所、技の投稿
                        <span class="">ーー</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        いいね機能
                        <span class="">ーー</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        プロフィールにURLの記載
                        <span class="">ーー</span>
                    </li>
                </ul>
                <a class="btn btn-lg btn-block btn-outline-primary" href="/main">サービスを利用する</a>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header" style="background-color:#0E3D88;">
                <h4 class="mb-1 my-sm-3" style="color:white;">アカウントあり</h4>
            </div>
            <div class="card-body">
                <h3 class="mb-3 mt-0 mt-sm-3">レッスンを広めたい方<br>ムーブを開発したい方向け</h3>
                <ul class="list-group mb-4" style="color:#666;">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        レッスン情報の検索
                        <i class="far fa-circle fa-2x" style="color:red;"></i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        練習場所の検索
                        <i class="far fa-circle fa-2x" style="color:red;"></i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        技やムーブで遊ぶ（ルーレット）
                        <i class="far fa-circle fa-2x" style="color:red;"></i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        コメント機能
                        <i class="far fa-circle fa-2x" style="color:red;"></i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        質問スレッド
                        <i class="far fa-circle fa-2x" style="color:red;"></i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        レッスン、練習場所、技の投稿
                        <i class="far fa-circle fa-2x" style="color:red;"></i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        いいね機能
                        <i class="far fa-circle fa-2x" style="color:red;"></i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        プロフィールにURLの記載
                        <i class="far fa-circle fa-2x" style="color:red;"></i>
                    </li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary" onclick="location.href='/users/index'">無料でサインアップ</button>
            </div>
        </div>
    </div>
    </div>


    <%# アカウント作成方法 %>
    

</div>