<%# 使い方 %>
<div class="container" style="height:100%;">

  <%# サービスについて %>
  <div class="about-wrap about-service">
    <h1>サービス</h1>
    <p class="border-title"></p>
    <div class="about-group d-sm-flex justify-content-sm-start">
      <%# レッスン %>
      <%= link_to('レッスン情報の検索', "/lessons/index", class: "font-italic") %>
      <%# 練習場所 %>
      <%= link_to('練習場所の検索', "/posts/index", class: "font-italic") %>
      <%# ムーブ %>
      <%= link_to('技やムーブの管理', "/moves/index", class: "font-italic") %>
      <%# 質問スレッド %>
      <%= link_to('交流の場', "/questions/index", class: "font-italic") %>
    </div>
  </div>
</div>