<div class="container">
    <div class="about-question">
        <h1 class="text-center">交流の場とは？</h1>
        <h4>bboyが集うコミュニティです。<br><br><br>
            ＜使い道＞<br>
            ・好きなbboyやバトルについて語る<br>
            ・曲名がわからない曲を質問する<br>
            ・一緒に大会に出るメンバーを募集する<br>
            など<br><br>
        </h4>
        <h4>アカウントをお持ちでない方も書き込めます。</h4>
        <h4 class="text-center">↓↓</h4>
        <%= link_to("交流の場へ", "/questions/index") %>
    </div>
</div>