<div class="container">
    <div class="about-question">
        <h1 class="text-center">なんでも質問スレッドとは？</h1>
        <h4>このサイトに関する質問や要望などがあればこちらにお書きください。</h4>
        <h4>アカウントをお持ちでない方も書き込めます。</h4>
        <h4 class="text-center">↓↓</h4>
        <%= link_to("なんでも質問スレッドへ", "/questions/index") %>
    </div>
</div>