<h2>gmap</h2>

<%# 検索フォーム %>
<input id="address" type="textbox" value="東京駅">
<input type="button" value="Encode" onclick="codeAddress()">

<div id='map'></div>

<%# マップの大きさ %>
<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
let map

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    // 初期位置 latが緯度, lngが経度
    center: {lat: 35.6809, lng: 139.7673},
    zoom: 12,
  });

  // ピンの位置
  marker = new google.maps.Marker({
    position:  {lat: 35.6809, lng: 139.7673},
    map: map
  });
}

// 検索
let geocoder

// 検索フォームが押されたとき
function codeAddress(){
  // 検索フォームの内容を取得
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<% ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>