<%
=begin
%>
<div style="height:100%;">
  <div class="text-center main-title" style="background-color: #232221; height:90vh;">
    <div clsss="container" style="position:relative; top:25%;">
      <h3 class="display-3 mb-5" style="color:white; letter-spacing: 0.3em;">使い方</h3>
      <h3 class="display-5 mt-5" style="color:white; letter-spacing: 0.1em;">Let's sharing a place.</h3>
      <hr class="my-5">
      <%= link_to('場所を探す', "/posts/index", class: "btn btn-dark btn-lg text-center py-3 mt-5", role: "button") %>
    </div>
  </div>
</div>
<%
=end
%>


<div style="height:100%;">
  <div class="text-center main-title" style="background-color: #232221; height:90vh;">
    <div clsss="container" style="position:relative; top:25%;">
      <h3 class="display-3 mb-5" style="color:white; letter-spacing: 0.3em;">使い方</h3>
    </div>
  </div>
</div>