<%# アラート %>
<div class="alert alert-success m-0" role="alert">
<button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">プレリリース中！</h4>
  <h6>正式にリリースする前にデータを全て消す（リセットする）場合があります。<br>ご了承ください。</h6>
</div>

<%# タイトル %>
<div class="text-center main-title" style="background-color: #232221;">
  <div clsss="container">
    <%# <h3 class="display-3 mb-5" style="color:white; letter-spacing: 0.3em;">踊る場所を共有しよう</h3> %>
    <h3 class="display-3 mb-5" style="color:white; letter-spacing: 0.3em;">踊る場所を共有しよう</h3>
    <h4 class="display-5 mt-sm-5" style="color:white; letter-spacing: 0.1em;">Let's sharing a place.</h4>
    <%= link_to('サービスを利用する', "/main", class: "btn btn-dark btn-lg text-center py-sm-3 mt-sm-5 mt-3", role: "button") %><br>
    <%= link_to('使い方', "/about", class: "btn btn-dark btn-lg text-center py-sm-3 mt-sm-5 mt-3", role: "button") %><br>
  </div>
</div>


<%# <div class="container">
  <h1 class="my-5">踊る場所に困っていませんか？</h1>
  <h1 class="my-5">新しい仲間と踊りたいと思いませんか？</h1>
  <h2 class="my-3">使い方</h2>
  <ul>
      <li><h3>踊れる場所を探したいとき</h3></li>
      <li><h3>体育館、柔道場、スタジオを手軽に探せる</h3></li>
      <li><h3>自分のまだ知らない場所を知ることができる</h3></li>
      <li><h3>誰がどこで踊っているかがわかる</h3></li>
    </ul>
</div> %>

