// フルページ
.full-page {
    height: 100%;
    background-color: #EEEEEE;
    // background-color: #232221;
    & header {
        // background-color: #1871DC;
        background-color: #0E3D88;

        & .navbar-brand {
            font-size: 2.3rem;
            color: white;
        }
    }
}

// tableページ
.form-serch {
    width: 75%;
}

// ページネーション
ul.pagination {
    justify-content: center;
    margin: 100px 0;
}

// 都道府県ページ
// .pref-wrap {
//     height: 75%;
// }

// showページ
// 作成者データ
.creat-time h6 {
    margin: 0;
}

.borad .img-temp {
    background-color:gray;
    height:60px;
    width:60px;
    border-radius:50%;
}

// 画像
.image_card img {
    max-width: 90%;
}


// スマホデバイス（タブレット, 600px 未満）
@media (max-width: 600px) {
    .full-page {
        height: 100%;

        // ヘッダー
        & header  .navbar-brand { font-size: 1.5rem; }

        // フッター
        & footer p { text-align: center; }
    }

    // tableページ
    .page-title h1 { font-size: 2rem; }
    .no-regi h1 { font-size: 1rem; }

    // 検索フォーム
    .form-serch {
        width: 50%;
    }

    .example-card-up, .table-card-up {
        h2 { font-size: 1.5rem; }
        h4 { font-size: 1rem; }
    }

    .example-card-down, .table-card-down {
        h4 { font-size: 1.0rem; }
    }

    // showページ
    // 施設カード
    .show-card-up, .show-card-down {
        h4 { font-size: 1.0rem; }
    }

    // コメント欄
    .borad .img-temp {
        background-color:gray;
        height:40px;
        width:40px;
        border-radius:50%;
    }

    .memo-card {
        & h3{ font-size: 1.3rem; }
        & h4 { font-size: 1rem;}
    }

    .comment {
        & h6 { font-size: 0.8rem;}
        & h4 { font-size: 1rem;}
    }

    // 画像
    .image_card img{
        height: 200px;
    }
}