// indexページ
.question-wrap {
    h1 {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    // コメント入力欄
    .form-control {
        font-size: 1rem;

        &.form-comment {
            height: 150px;
        }
    }

    // 削除ボタン
    .delete-btn {
        width: 100%;
        // margin-top: 50px;
        margin-bottom: 10px;
        margin-right: 10px;
        border: 1px solid #157AF6;
        color: #157AF6;
        text-align: center;
    }

    // コメント内容
    .comment-content {
        font-size: 1.2rem;
    }
}


// スマホデバイス（タブレット, 600px 未満）
@media (max-width: 600px) {

    // indexページ
    .question-wrap {

        .card-body {
            padding-top: 0px;
        }

        h1 {
            margin-top: 50px;
            margin-bottom: 30px;
            font-size: 1.5rem;
        }

        // コメント入力欄のボタン（コメント、キャンセル、投稿）
        .comment-btn {
            height: 25px;
            font-size: 0.7rem;
            padding: 3px;
        }

        // コメント入力欄
        .form-control {
            font-size: 0.7rem;

            &.form-comment {
                height: 70px;
            }
        }

        // コメント内容
        .comment-content {
            font-size: 0.7rem;
        }

        // 削除ボタン
        .delete-btn {
            font-size: 0.5rem;
        }
    }
}
